<% provide(:title, 'Drinks') %>
<h1>Our Drinks</h1>

<div class="row">
  <ul class="drinks">
    <% @drinks.each do |drink| %>
      <li>
        <h3><%= link_to drink.name, drink %></h3>
        <h5><%= link_to "Review drink", new_drink_review_path(drink.id) %></h5>
      </li>
    <% end %>
  </ul>
</div>